<%- include('partials/head', { pageTitle: title }) %>
<%- include('partials/menu') %>

<h1><%= title %></h1>

<p>Hola, mi nombre es <%= heroe.nombre %> y soy <%= heroe.profesion %>.</p>

<img src="https://img.freepik.com/fotos-premium/senalar-signo-gesto-numero-direccion-mano-dedo-indice-mostrar-toque-brazo-o-presionar-aislado-sobre-fondo-negro-eleccion-concepto_79161-1946.jpg">